# Node
node_modules/
npm-debug.log

# Environment files
.env

# Build files
dist/
build/

# VS Code
.vscode/

# Frontend specific
ocas-frontend/node_modules/
ocas-frontend/dist/

# Backend specific
ocas-backend/node_modules/
